a{
	color: black;
}

.hidden{
	display: none;
}

.header{
	height: 50px;
	position: relative;
}

.header h1{
	color: red;
}

.wrapper{	
	width: 900px;
	margin: 10px auto;
}

.username{
	position: absolute;
	right: 5px;
	top: 0px;
	margin: 0;
}

.main{
	margin: 0 auto;
    width: 850px;
}

.pub_form{
	padding: 5px 20px;
	border: 1px solid #000000;
}
.publication{
	background: none repeat scroll 0 0 #DDDDDD;
    clear: both;
    float: left;
    margin: 10px;
    min-height: 100px;
    padding: 10px;
    width: 100%;
}

.publication .header_pub{
	float:left;
	width: 100%;
}

.publication .header_pub > div{
	float:left;
}

.publication .header_pub .date{
	float: right;
	margin-right: 20px;
}

.publication .header_pub .title a{
	color: #000000;
    font-size: 15pt;
    cursor: pointer;
}

.publication .pub_content{
	float: left;
	width: 100%;
	margin-top: 5px;
}

.publication .pub_tags{
	float: left;
	width: 100%;
	bottom: 0;
	font-size: 10pt;
}

