a{
	color: black;
	cursor: pointer;
	text-decoration: underline;
}

.hidden{
	display: none;
}

.header{
	height: 50px;
	position: relative;
}

.header h1{
	color: red;
}

.wrapper{	
	width: 1000px;
	margin: 10px auto;
}

.menu-left {
	float: left;
	width: 200px;
}
.menu {
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #DDDDDD;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
}
.menu div {
	text-align: center;
	font-weight: bold;
}
.menu ul {
	padding: 0px;
}
.menu ul li {
	list-style-type: none;
	padding: 10px;
	border-bottom: 1px solid #DDDDDD;
}


.username{
	position: absolute;
	right: 5px;
	top: 0px;
	margin: 0;
}

.main{
	margin: 0 auto;
    width: 750px;
    overflow: hidden;
}

.reply_form, .snippet_form, .message_form {
	padding: 5px 20px;
	border: 1px solid #DDDDDD;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
}

.publication{
    clear: both;
    float: left;
    margin: 10px;
    min-height: 100px;
    padding: 10px;
    width: 95%;
    border: 1px solid #DDDDDD;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
}

.new {
	border: 2px solid red;
}
.addcomment {
	clear: both;
	margin-left: 15px;
}
.replies .publication {
	margin-bottom: 5px;
	width: 60%;
	min-height: 50px;
}

.publication .header_pub{
	float:left;
	width: 100%;
}

.publication .header_pub > div{
	float:left;
}

.publication .header_pub .date {
	float: right;
	margin-right: 20px;
}

.publication .header_pub .date{
	float: right;
	margin-right: 20px;
}

.publication .header_pub .title a{
	color: #000000;
    font-size: 15pt;
    cursor: pointer;
}

.publication .pub_content{
	float: left;
	width: 100%;
	margin-top: 5px;
}
.pub_content.snippet {
	background-color: #DDDDDD;
}

.publication .pub_tags{
	float: left;
	width: 100%;
	bottom: 0;
	font-size: 10pt;
}

.publication .comment_title{
	font-weight: bold;
}

.inline_small{
	font-weight: normal;
	font-size: 12pt;
	display: inline
}

.small {
	font-size: 90% !important;
}
