{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		 <title>{% block title %}DevWithMe{% endblock %}</title>
		 <link href="/static/style.css" rel="stylesheet" type="text/css" />
		 <link href="/static/pygments.css" rel="stylesheet" type="text/css" />
		 
		 <script type="text/javascript" src="/static/jquery-1.6.4.min.js"></script>
		 <script type="text/javascript" src="/static/base.js"></script>
		 
	</head>
	<body>
		<div class="wrapper">
			<div class="header">
				<h1>DevWithMe</h1>
				{% block header %}
					{% if user.is_authenticated %}
					    <p class="username">Welcome, <a href="/{{ user.username }}">{{ user.username }}</a>. <a href="/logout">Logout</a>.</p>
					{% else %}
					    <p class="username">Welcome, anonymous. Please <a href="{% url 'django.contrib.auth.views.login' %}?next=/">log in.</a></p>
					{% endif %}
				{% endblock %}
			</div>
			<div class="menu-left">
				<div class="menu">
					<ul>
						<li><a href="/">Public Feed</a></li>
						{% if user.is_authenticated %}
							<li><a href="/{{user.username}}">My Feed</a></li>
							<li><a class="add addSnippet">Add new snippet</a></li>
						{% endif %}
					</ul>
				</div>
				{% if user.is_authenticated %}
					<div class="menu">
						<div>Following...</div>
						<ul>
							{% for user in relationships %}
								<li><a href="/{{ user }}">{{ user }}</a></li>
							{% endfor %}
						</ul>
						<a class="addRelationship">Follow new user</a>
					</div>
				{% endif %}
				</div>
			
			{% if msg %}
				<div class="msg">{{ msg }}</div>
			{% endif %}
			<div class="main">
				{% if user.is_authenticated %}
					<div class="hidden snippet_form" id="new_snippet_area">
					    <form action="/publication?next={% if user_feed %}/{{ user_feed }}{% else %}/{% endif %}" method="post">{% csrf_token %}
					            {{ pub_form.as_p }}
					            <input type="submit" value="Add Snippet" />
					    </form>
					</div>			
					<div class="hidden relationship_form" id="relationshipform_area">
					    <form action="/user?next={% if user_feed %}/{{ user_feed }}{% else %}/{% endif %}" method="post">{% csrf_token %}
					            {{ relationship_form.as_p }}
					            <input type="submit" value="Follow" />
					    </form>
					</div>
				{% endif %}
				{% block main_content %}{% endblock %}
			</div>
			<div class="footer">
				
			</div>
		</div>
	</body>
</html>