{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		 <title>{% block title %}DevWithMe{% endblock %}</title>
		 <link href="/static/style.css" rel="stylesheet" type="text/css" />
		 
	</head>
	<body>
		<div class="wrapper">
			<div class="header">
				<h1>DevWithMe</h1>
				{% block header %}
					{% if user.is_authenticated %}
					    <p class="username">Welcome, {{ user.username }}. <a href="/logout">Logout</a>.</p>
					{% else %}
					    <p class="username">Welcome, anonymous. Please <a href="{% url 'django.contrib.auth.views.login' %}?next=/">log in.</a></p>
					{% endif %}
				{% endblock %}
			</div>
			<div class="main">
				{% block main_content %}{% endblock %}
			</div>
			<div class="footer">
				
			</div>
		</div>
	</body>
</html>