{% extends "base.html" %}
{% load humanize %}

{% block main_content %}
<h2>
	{% if user.username ==  user_feed %}
		My Feed
	{% else %}{% if user_feed %}
		{{ user_feed }}'s Feed
	{% else %}
		Public Feed
	{% endif %}{% endif %}
</h2>
{% for pub in feed%}
	<div class="publication">
		<div class="header_pub">
			<div class="title"><a href="/publication/{{ pub.pk }}">{{ pub.content.title }}</a></div>
			<div class="date">
				<div>{{ pub.date|naturalday }}</div>
				<div>{{ pub.date|date:"H:m" }}</div>
			</div>
		</div>		
		<div class="pub_content">{{ pub.content.text }}</div>
		<a href="/publication/{{ pub.pk }}#comments">Add/Show comments</a>
		{% if pub.content.tags.all|length > 0 %}
		<div class="pub_tags"><span class="tags_title">Tags: </span>{% for tag in pub.content.tags.all %}{{ tag }} {% endfor %}</div>
		{% endif %}	
	</div>
{% endfor %}



{% endblock %}