{% extends "base.html" %}
{% load humanize %}

{% block main_content %}

	<h2>
		{{ pub.content.title }} 
		<div class="inline_small"> by 
			<a class="small" href="/{{ pub.published_by }}">{{ pub.published_by}}</a>
		</div> 
	</h2>
	

	<div class="publication">
		<div class="header_pub">
			<div class="date">{{ pub.date|naturalday }}</div>
		</div>	
		{% if pub.content.snippet %}
			<div class="pub_content snippet">
				{{ pub.content.snippet.pretty_print|safe }}
			</div>
		{% else %}
			<div class="pub_content">
				{{ pub.content.text }}
			</div>
		{% endif %}
		
		{% if pub.content.tags.all %}
		<div class="pub_tags"><span class="tags_title">Tags: </span>{% for tag in pub.content.tags.all %} <a href="/tag/{{ tag }}">{{ tag }}</a> {% endfor %}</div>
		{% endif %}
		<div class="replies">
		{% for reply in replies %}
			<div class="publication">
				<div class="header_pub">
					<div class="title comment_title">{{ reply.content.title }}</div> by 
					<a class="small" href="/{{ reply.published_by }}">{{ pub.published_by}}</a>
					<div class="date comment_date">{{ reply.date|naturalday }}</div>
				</div>		
				<div class="pub_content">{{ reply.content.text }}</div>
			</div>
		{% endfor %}
		</div>
		<div class="addcomment">
			<a name="comment" class="addReply">Add comment...</a>
             <div class="hidden reply_form" id="new_snippet_area">
			    <form action="/publication?next={% if user_feed %}/publication/{{ pub.pk }}{% else %}/{% endif %}" method="post">{% csrf_token %}
			    		<input type="hidden" name="reply_to" value="{{ pub.pk }}" />
			            {{ comment_form.as_p }}
			            <input type="submit" value="Add Comment" />
			    </form>
			</div>
    	</div>
   	</div>	


{% endblock %}